  <div>
    <%= form_with model: @fish_name, url: fish_names_path, class: 'form', local: true do |f| %>
    <div class="kinds-new">
      <div class="form-input">
        <%= f.text_field :fish_kind, class: 'form-name', placeholder: '魚の名前を登録' %>
      </div>
        <%= f.submit '送信', class: 'form-submit' %>
    </div>
    <% end %>
  </div>

  <div >
    <div class="fish-infos">
    <% if @fish_names.present? %>
      <% @fish_names.each do |fish| %>
        <div class="fish-name">
        <%= link_to fish.fish_kind, fish_name_path(fish.id),class: "name-font" %>
        </div>
      <% end %>
    <% end %>
      
    </div>
  </div>